p { text-align: center
}

input {border-radius: 30px;
}

h1 { text-align: center
}


form { text-align: center
}

input,
label {margin: .4rem 0;
}

nummer {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

nummer{
    margin: .4rem 0;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
